.form {
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.form * {
    width: 100px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}